* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Dela Gothic One",
    "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 1.2rem;
  color: #292d28;
  width: 100%;
  height: 100%;
  background-color: #fffaef;
  scroll-padding-top: 90px;
}
.main-content {
  max-width: 460px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 460px) {

/*============
non PC display
============*/
.PCborder {
  display: none;
}
.PClogo {
  display: none;
}

/*======
  header
  =======*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 990;
  box-sizing: border-box;
  padding: 0 5%;
  width: 100vw;
}

.noPC {
  padding: 16px 12px; /* Increased horizontal padding */
}

.noPC.fill {
  background-color: #fffaef;
}

.logo {
  display: flex;
  width: 80px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
}

.nav-hamburger-btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.nav-hamburger-btn .circle {
  background: #606c38;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}

.nav-hamburger-btn .navbars {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  width: 20px;
}

.nav-hamburger-btn .line {
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
}
.header__btn__line01 {
  transform-origin: left top;
}
.header__btn__line03 {
  transform-origin: left bottom;
}
.nav-hamburger-btn.open .circle {
  background-color: #FFF4CC;
}
.nav-hamburger-btn.open .line {
  background-color: #606C38;
}
.header__btn__line01.open {
  transform: translate(3px, 2px) rotate(42deg);
}
.header__btn__line02.open {
  opacity: 0;
}
.header__btn__line03.open {
  transform: translate(3px, -2px) rotate(-42deg);
}

.navmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #606c38;
  border-radius: 30px;
  color: #FFF4CC;
  padding: 32px 32px;
  position: fixed;
  top: 0;
  left: 100%;
  transition: left 0.5 ease;
  z-index: 999;
}
.navmenu.open {
  left: 0; /* Slide in from the right */
}

.logotitle {
  font-size: 16px;
}
.smartphone-navmenu-big {
  ul {
    list-style-type: none;
    li {
      text-align: left;
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
      padding: 32px 8px;
      a {
        text-decoration: none;
        color: #FFF4CC;
      }
    } 
  }
}
.smartphone-navmenu-small {
  ul {
    list-style-type: none;
    li {
      text-align: left;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      padding: 12px 8px;
      a {
        text-decoration: none;
        color: #FFF4CC;
      }
    } 
  }
}

/*====================
main visual background
=====================*/
.background {
  margin: 0;
  padding: 0;
  background-image: url('../img/background-pic.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120vh;
  position: relative;
  top: -2%;
}
.main-visual-image {
  position: absolute;
  top: 32%;
  left: 4%;
  width: 90%;
  margin: 0 auto;
  max-width: 460px;
}
.little-bean {
  position: absolute;
}
@keyframes floating1 {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}
@keyframes floating2 {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, -15px); }
  100% { transform: translate(0, -0px); }
}
.bean1 {
  width: 30%;
  top: 26%;
  left: 4%;
  animation: floating2 3s ease-in-out infinite;
}
.bean2 {
  width: 30%;
  top: 22%;
  right: 4%;
  animation: floating1 3s ease-in-out infinite;
}
.bean3 {
  width: 30%;
  top: 54%;
  left: 4%;
  animation: floating2 3s ease-in-out infinite;
}
.bean4 {
  width: 30%;
  top: 60%;
  right: 4%;
  animation: floating1 3s ease-in-out infinite;
}
.curved-text {
  position: absolute;
  top: 26%;
  left: 18%;
  width: 70%;
  z-index: 2;
  max-width: 460px;
  margin: 0 auto;
}
.vertical-text{
  position: absolute;
  top: 57%;
  left: 20%;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.title-part-1 {
  position: absolute;
  top: 4%;
  left: 0;
  z-index: 1;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.title-part-2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(68%, 50%);
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}
.scroll-down {
  display: block;
  color: #ffffff;
  font-size: 12px;
  line-height: 32px;
  font-weight: bold;
  font-family: "Noto Sans JP";
  position: absolute;
  top: 86%;
  left: 41%; 
}
.scroll-down-icon {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 90%;
  left: 46%;
  animation: bop 1s infinite;
}
  @keyframes bop {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/*=======
message
========*/
.message {
  position: relative;
  padding-top: 100px;
  height: 150vh;
}
.section-banner-message1 {
  position: absolute;
  top: -4%;
  right: 2%;
}
.section-text {
  margin: 0 auto;
  width: 84%;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}
.message-p {
  padding-top: 40px;
  position: relative;
  z-index: 2;
}
.bean5 {
  position: absolute;
  width: 30%;
  top: 20%;
  right: 4%;
  z-index: 1;
}
.bean6 {
  position: absolute;
  width: 30%;
  top: 40%;
  left: 4%;
  z-index: 1;
}
.message-title {
  margin: 0;
  position: relative;
  height: 30vh;
  top: 0;
  left: 0;
  max-width: 100%;
}
.messagetitle2 {
  position: absolute;
  top: 80%;
  left: 20%;
}
.messagetitlepic {
  position: absolute;
  top: 10%;
  left: 30%;
  animation: drop 2.5s ease forwards;
  animation-iteration-count: infinite;
}
@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(4px)}
  100%{transform: translateY(30px)}
}
.picture-group-message {
  margin: 0 auto;
  position: relative;
  width: 80%;
  top: 4%;
  height: 40vh;
}
.ele {
  animation: floating1 3s ease-in-out infinite
}
.mp {
  animation: floating2 3s ease-in-out infinite
}
.bean7 {
  width: 40%;
  position: absolute;
  rotate: -20deg;
  top: 10%;
  left: 20%;
}
.circle1 {
  width: 30%;
  position: absolute;
  top: 36%;
  left: 50%;
  z-index: 2;
}
.circle2 {
  width: 20%;
  position: absolute;
  top: 50%;
  right: 12%;
  z-index: 3;
}
.bean8 {
  width: 40%;
  position: absolute;
  top: 80%;
  right: 4%;
}
.messagepic1 {
  width: 34%;
  position: absolute;
  top: 20%;
  right: 2%;
  z-index: 4;
}
.messagepic2 {
  width: 44%;
  position: absolute;
  top: 50%;
  left: 8%;
}


/*==========
today's bean
==========*/
.today-bean {
  background-color: #FFF4CC;
  background-image: url('../img/todaybeanbg.svg');
  background-size: contain;
  background-position: 0 60%;
  background-repeat: no-repeat;
  border-top-right-radius: 60px;
  position: relative;
  height: 100vh;
  margin-top: 20px;
}
.today-bean-title {
  margin: 0;
  position: absolute;
  top: -2%;
}
.todaybeantitle2 {
  position: absolute;
  top: 91%;
  left: 40%;
}
.speechbubble {
  position: absolute;
  width: 26%;
  top: 18%;
  right: 8%;
  animation: tilt-shaking 0.5s infinite;
}
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}  
.todaybeancard {
  position: absolute;
  top: 34%;
  left: 16%;
}

/*card design*/
.card {
  background: #FFFFFF;
  border-radius: 20px;
  border: 2px solid #606c38;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: 72vw;
  height: auto;
  padding: 32px 4px;
  max-width: 360px;
  max-height: 440px;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.card.expand {
  background: #FFFFFF;
  border-radius: 20px;
  border: 2px solid #606c38;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: 72vw;
  height: auto;
  padding: 32px 8px;
  max-width: 360px;
  max-height: none; /*change*/
  justify-content: center;
  position: relative;
  top: 15%;
  transition: max-height 1s ease;
  overflow: visible;
}
.card-content {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.card.expand .card-content {
  transform: scale(0.95);
}
.card-img {
  max-width: 90%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.card-title {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  max-width: 90%;
  display: flex;
  text-align: left;
  margin: 20px auto;
  transition: all 0.3s ease-in-out;
}
.small-words {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  .tags-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .tags {
      color: #606c38;
      background: #FFF4CC;
      border-radius: 8px;
      border: 1px solid #606c38;
      padding: 6px 12px; /* Adjust padding */
      display: inline-flex; /* Change to inline-flex */
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.2; /* Adjust line height */
      margin: 2px; /* Add margin all around */
      white-space: nowrap; /* Prevent text wrapping inside tag */
      overflow: hidden; 
      text-overflow: ellipsis; 
      max-width: 100%; 
    }
  }
  .date {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    padding-top: 12px;
    margin-left: auto;
    white-space: nowrap; 
  }
}

.card-expanded-content {
  display: none;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  margin: 18px 20px;
  opacity: 0;
  max-height: 0;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}

.card.open .card-expanded-content {
  display: block; 
  opacity: 1;
  max-height: 1000px;
  transform: scale(1);
}

.close-btn {
  position: absolute;
  z-index: 10;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  background-color: #606C38;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
.card.expand .close-btn {
  opacity: 1;
  transform: scale(1);
}


/*==========
bean-basket
==========*/
.bean-basket {
  max-width: 100%;
  position: relative;
  z-index: 1;
  height: auto;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.bean-border {
  margin: 3vh 0;
  max-width: 100%;
}

.bean-basket-title {
  position: relative;
  margin-left: 4vw;
  max-width: 80%;
}
.beanbaskettitle2 {
  position: absolute;
  top: 90%;
  left: 8%;
}
.section-banner-message2 {
  position: absolute;
  top: 4%;
  right: 2%;
}
.bean-basket-content, .bean-basket-content-sub {
  position: relative;
  z-index: 2;
}

.bean-basket-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 12vh;
  position: relative;
  z-index: 1;
}
.bean-basket-content-sub {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin: 40px 0;
}
.see-more {
  font-weight: bold;
  background: #F69D4C;
  border-radius: 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  text-decoration: none;
  color: #FFFFFF;
}
.bean9, .bean10 {
  z-index: 1;
}
.bean9 {
  width: 30%;
  position: absolute;
  top: 16%;
  right: 10%;
  animation: floating2 3s ease-in-out infinite;
  z-index: 1;
}
.bean10 {
  width: 30%;
  position: absolute;
  bottom: 40%;
  left: 10%;
  animation: floating2 3s ease-in-out infinite;
  z-index: 1;
}

/*================
major-introudction
================*/
.major-introduction {
  max-width: 100%;
  height: 148vh;
  position: relative;
}
.major-introduction-title {
  position: relative;
  max-width: 80%;
  top: 4%;
  left: 0;
}
.majortitle2 {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
}
.beansprout1 {
  position: absolute;
  top: 4%;
  right: 6%;
  animation: tilt-shaking 0.5s infinite;
}
.message-m {
  margin-top: 20vh;
  position: absolute;
  top: 10%;
  left: 8%;
  z-index: 2;
  color: #FFFFFF;
  line-height: 40px;
}
.messagebg {
  background: url(../img/majorbg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  width: 100%;
  height: 70vh;
  position: relative; 
  top: 12%;
}
.major-picture {
  position: relative;
  top: 16%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  img {
  max-width: 100%;
  width: 80%;
  height: auto;
  }
}
.bean11 {
  position: absolute;
  bottom: 28%;
  left: 4%;
  animation: floating1 3s ease-in-out infinite;
}
.bean12 {
  position: absolute;
  bottom: 6%;
  left: 2%;
  animation: floating2 3s ease-in-out infinite;
}
.beansprout2 {
  position: absolute;
  bottom: 9%;
  right: 2%;
  animation: floating2 3s ease-in-out infinite;
}

/*=====
footer
======*/
footer {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 36px;
  position: relative;
}
.footer-big-nav {
  ul {
    list-style-type: none;
    padding: 0 16px;
    margin: 32px 0;
    li {
      text-align: left;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
      padding: 28px 0;
      position: relative;
      a {
        text-decoration: none;
        color: #606c38;
      }
      &::after {
        content:".......................";
        letter-spacing: 4px;
        color: #F69D4C;
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        &:last-child::after {
          content: none;
        }
      }
    }
    }
  }
  .footer-small-nav {
    ul {
      list-style-type: none;
      margin-bottom: 24px;
      li {
        text-align: left;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        padding: 8px 16px;
        a {
          text-decoration: none;
          color: #606c38;
        }
      }
    }
  }
  .footer-picture {
    position: absolute;
    top: 30%;
    right: 4%;
    animation: floating2 3s ease-in-out infinite;
  }
  small {
    padding: 0 16px;
    font-size: small;
    color: #606c38;
  }
}



@media screen and (min-width: 461px) {

.container {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 990;
  box-sizing: border-box;
  padding: 0 5%;
  width: 100vw;
}

.noPC {
  padding: 16px 12px; /* Increased horizontal padding */
}

.noPC.fill {
  background-color: #fffaef;
}

.logo {
  display: flex;
  width: 80px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
}

.nav-hamburger-btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.nav-hamburger-btn .circle {
  background: #606c38;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}

.nav-hamburger-btn .navbars {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  width: 20px;
}

.nav-hamburger-btn .line {
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
}
.header__btn__line01 {
  transform-origin: left top;
}
.header__btn__line03 {
  transform-origin: left bottom;
}
.nav-hamburger-btn.open .circle {
  background-color: #FFF4CC;
}
.nav-hamburger-btn.open .line {
  background-color: #606C38;
}
.header__btn__line01.open {
  transform: translate(3px, 2px) rotate(42deg);
}
.header__btn__line02.open {
  opacity: 0;
}
.header__btn__line03.open {
  transform: translate(3px, -2px) rotate(-42deg);
}

.navmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #606c38;
  border-radius: 30px;
  color: #FFF4CC;
  padding: 32px 32px;
  position: fixed;
  top: 0;
  left: 100%;
  transition: left 0.5 ease;
  z-index: 999;
}
.navmenu.open {
  left: 0; 
}

.logotitle {
  font-size: 16px;
}
.smartphone-navmenu-big {
  ul {
    list-style-type: none;
    li {
      text-align: left;
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
      padding: 32px 8px;
      a {
        text-decoration: none;
        color: #FFF4CC;
      }
    } 
  }
}
.smartphone-navmenu-small {
  ul {
    list-style-type: none;
    li {
      text-align: left;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      padding: 12px 8px;
      a {
        text-decoration: none;
        color: #FFF4CC;
      }
    } 
  }
}

/*====================
main visual background
=====================*/
.background {
  margin: 0;
  padding: 0;
  background-image: url('../img/background-pic.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 130vh;
  position: relative;
  top: -2%;
}
.main-visual-image {
  position: absolute;
  top: 32%;
  left: 4%;
  width: 90%;
  margin: 0 auto;
  max-width: 460px;
}
.little-bean {
  position: absolute;
}
@keyframes floating1 {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}
@keyframes floating2 {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, -15px); }
  100% { transform: translate(0, -0px); }
}
.bean1 {
  width: 30%;
  top: 26%;
  left: 4%;
  animation: floating2 3s ease-in-out infinite;
}
.bean2 {
  width: 30%;
  top: 22%;
  right: 4%;
  animation: floating1 3s ease-in-out infinite;
}
.bean3 {
  width: 30%;
  top: 54%;
  left: 4%;
  animation: floating2 3s ease-in-out infinite;
}
.bean4 {
  width: 30%;
  top: 60%;
  right: 4%;
  animation: floating1 3s ease-in-out infinite;
}
.curved-text {
  position: absolute;
  top: 26%;
  left: 18%;
  width: 70%;
  z-index: 2;
  max-width: 460px;
  margin: 0 auto;
}
.vertical-text{
  position: absolute;
  top: 57%;
  left: 20%;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.title-part-1 {
  position: absolute;
  top: 4%;
  left: 0;
  z-index: 1;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.title-part-2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(68%, 50%);
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}
.scroll-down {
  display: block;
  color: #ffffff;
  font-size: 12px;
  line-height: 32px;
  font-weight: bold;
  font-family: "Noto Sans JP";
  position: absolute;
  top: 86%;
  left: 41%; 
}
.scroll-down-icon {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 90%;
  left: 46%;
  animation: bop 1s infinite;
}
  @keyframes bop {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/*=======
message
========*/
.message {
  position: relative;
  padding-top: 100px;
  height: 150vh;
}
.section-banner-message1 {
  position: absolute;
  top: -4%;
  right: 2%;
}
.section-text {
  margin: 0 auto;
  width: 84%;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}
.message-p {
  padding-top: 40px;
  position: relative;
  z-index: 2;
}
.bean5 {
  position: absolute;
  width: 30%;
  top: 20%;
  right: 4%;
  z-index: 1;
}
.bean6 {
  position: absolute;
  width: 30%;
  top: 40%;
  left: 4%;
  z-index: 1;
}
.message-title {
  margin: 0;
  position: relative;
  height: 30vh;
  top: 0;
  left: 0;
  max-width: 100%;
}
.messagetitle2 {
  position: absolute;
  top: 80%;
  left: 20%;
}
.messagetitlepic {
  position: absolute;
  top: 10%;
  left: 30%;
  animation: drop 2.5s ease forwards;
  animation-iteration-count: infinite;
}
@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(4px)}
  100%{transform: translateY(30px)}
}
.picture-group-message {
  margin: 0 auto;
  position: relative;
  width: 80%;
  top: 4%;
  height: 40vh;
}
.ele {
  animation: floating1 3s ease-in-out infinite
}
.mp {
  animation: floating2 3s ease-in-out infinite
}
.bean7 {
  width: 40%;
  position: absolute;
  rotate: -20deg;
  top: 10%;
  left: 20%;
}
.circle1 {
  width: 30%;
  position: absolute;
  top: 36%;
  left: 50%;
  z-index: 2;
}
.circle2 {
  width: 20%;
  position: absolute;
  top: 50%;
  right: 12%;
  z-index: 3;
}
.bean8 {
  width: 40%;
  position: absolute;
  top: 80%;
  right: 4%;
}
.messagepic1 {
  width: 34%;
  position: absolute;
  top: 20%;
  right: 2%;
  z-index: 4;
}
.messagepic2 {
  width: 44%;
  position: absolute;
  top: 50%;
  left: 8%;
}


/*==========
today's bean
==========*/
.today-bean {
  background-color: #FFF4CC;
  background-image: url('../img/todaybeanbg.svg');
  background-size: contain;
  background-position: 0 60%;
  background-repeat: no-repeat;
  border-top-right-radius: 60px;
  position: relative;
  height: 100vh;
}
.today-bean-title {
  margin: 0;
  position: absolute;
  top: -2%;
}
.todaybeantitle2 {
  position: absolute;
  top: 91%;
  left: 40%;
}
.speechbubble {
  position: absolute;
  width: 26%;
  top: 18%;
  right: 8%;
  animation: tilt-shaking 0.5s infinite;
}
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}  

.todaybeancard {
  position: absolute;
  top: 34%;
  left: 14%;
}


/*card design*/
.card {
  background: #FFFFFF;
  border-radius: 20px;
  border: 2px solid #606c38;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: 72vw;
  height: auto;
  padding: 32px 4px;
  max-width: 360px;
  max-height: 440px;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.card.expand {
  background: #FFFFFF;
  border-radius: 20px;
  border: 2px solid #606c38;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: 72vw;
  height: auto;
  padding: 32px 8px;
  max-width: 360px;
  max-height: none; /*change*/
  justify-content: center;
  position: relative;
  top: 15%;
  transition: max-height 1s ease;
  overflow: visible;
}
.card-content {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.card.expand .card-content {
  transform: scale(0.95);
}
.card-img {
  max-width: 90%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.card-title {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  max-width: 90%;
  display: flex;
  text-align: left;
  margin: 20px auto;
  transition: all 0.3s ease-in-out;
}
.small-words {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  .tags-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .tags {
      color: #606c38;
      background: #FFF4CC;
      border-radius: 8px;
      border: 1px solid #606c38;
      padding: 6px 12px; /* Adjust padding */
      display: inline-flex; /* Change to inline-flex */
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.2; /* Adjust line height */
      margin: 2px; /* Add margin all around */
      white-space: nowrap; /* Prevent text wrapping inside tag */
      overflow: hidden; 
      text-overflow: ellipsis; 
      max-width: 100%; 
    }
  }
  .date {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    padding-top: 12px;
    margin-left: auto;
    white-space: nowrap; 
  }
}

.card-expanded-content {
  display: none;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  margin: 18px 20px;
  opacity: 0;
  max-height: 0;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}

.card.open .card-expanded-content {
  display: block; 
  opacity: 1;
  max-height: 1000px;
  transform: scale(1);
}

.close-btn {
  position: absolute;
  z-index: 10;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  background-color: #606C38;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
.card.expand .close-btn {
  opacity: 1;
  transform: scale(1);
}


/*==========
bean-basket
==========*/
.bean-basket {
  max-width: 100%;
  position: relative;
  z-index: 1;
  height: auto;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.bean-border {
  margin: 3vh 0;
  max-width: 100%;
}
.bean-basket-title {
  position: relative;
  margin-left: 4vw;
  max-width: 80%;
}
.beanbaskettitle2 {
  position: absolute;
  top: 90%;
  left: 8%;
}
.section-banner-message2 {
  position: absolute;
  top: 4%;
  right: 2%;
}
.bean-basket-content, .bean-basket-content-sub {
  position: relative;
  z-index: 2;
}

.bean-basket-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 12vh;
  position: relative;
  z-index: 1;
}
.bean-basket-content-sub {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin: 40px 0;
}
.see-more {
  font-weight: bold;
  background: #F69D4C;
  border-radius: 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  text-decoration: none;
  color: #FFFFFF;
}
.bean9 {
  width: 30%;
  position: absolute;
  top: 16%;
  right: 10%;
  animation: floating2 3s ease-in-out infinite;
  z-index: 1;
}
.bean10 {
  width: 30%;
  position: absolute;
  bottom: 40%;
  left: 10%;
  animation: floating2 3s ease-in-out infinite;
  z-index: 1;
}

/*================
major-introudction
================*/
.major-introduction {
  max-width: 100%;
  height: 148vh;
  position: relative;
}
.major-introduction-title {
  position: relative;
  max-width: 80%;
  top: 4%;
  left: 0;
}
.majortitle2 {
  position: absolute;
  top: 90%;
  left: 0;
  width: 98%;
}
.beansprout1 {
  position: absolute;
  top: 4%;
  right: 6%;
  animation: tilt-shaking 0.5s infinite;
}
.message-m {
  margin-top: 20vh;
  position: absolute;
  top: 12%;
  left: 8%;
  z-index: 2;
  color: #FFFFFF;
  line-height: 40px;
}
.messagebg {
  background: url(../img/majorbg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  width: 100%;
  height: 70vh;
  position: relative; 
  top: 12%;
}
.major-picture {
  position: relative;
  top: 16%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  img {
  max-width: 100%;
  width: 80%;
  height: auto;
  }
}
.bean11 {
  position: absolute;
  bottom: 28%;
  left: 4%;
  animation: floating1 3s ease-in-out infinite;
}
.bean12 {
  position: absolute;
  bottom: 4%;
  left: 2%;
  animation: floating2 3s ease-in-out infinite;
}
.beansprout2 {
  position: absolute;
  bottom: 6%;
  right: 2%;
  animation: floating2 3s ease-in-out infinite;
}

/*=====
footer
======*/
footer {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 36px;
  position: relative;
}
.footer-big-nav {
  ul {
    list-style-type: none;
    padding: 0 16px;
    margin: 32px 0;
    li {
      text-align: left;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
      padding: 28px 0;
      position: relative;
      a {
        text-decoration: none;
        color: #606c38;
      }
      &::after {
        content:".......................";
        letter-spacing: 4px;
        color: #F69D4C;
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        &:last-child::after {
          content: none;
        }
      }
    }
    }
  }
  .footer-small-nav {
    ul {
      list-style-type: none;
      margin-bottom: 24px;
      li {
        text-align: left;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        padding: 8px 16px;
        a {
          text-decoration: none;
          color: #606c38;
        }
      }
    }
  }
  .footer-picture {
    position: absolute;
    top: 30%;
    right: 4%;
    animation: floating2 3s ease-in-out infinite;
  }
  small {
    padding: 0 16px;
    font-size: small;
    color: #606c38;
  }
}





/*=========
PC version
=========*/


.container {
  display: flex;
  height: 100vh;
}


.PCborder {
  position: sticky;
  min-height: 100vh;
  overflow: auto;
}

.border {
  position: fixed;
  width: 400px; 
  background-image: url('../img/beanborder.svg');
  background-size: cover;
  z-index: -1;
}
.topleft {
  top: 0;
  left: 0;
}
.topright {
  top: 0;
  right: 0;
}
.btmleft {
  bottom: 0;
  left: 0;
}
.btmright {
  bottom: 0;
  right: 0;
}


.left-sidebar {
  display: flex;
  width: 320px;
  height: 480px;
  gap: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 24%;
  left: 4%;
  overflow-y: auto;
}

.PC-navmenu-title {
  color: #606c38;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  padding-left: 20px;
}

.PC-navmenu {
  background-color: #606c38;
  color: #FFF4CC;
  padding: 20px 32px;
  border-radius: 20px;
  width: 280px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ul {
    list-style-type: none;
    li {
      text-align: left;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      padding: 24px 8px;
      a {
        text-decoration: none;
        color: #FFF4CC;
      }
    }
  }
}
.PC-navmenu li::before {
  content: '';
  display: inline-block;
  background: url('../img/navmenubean.svg') no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-right: 20px;
  vertical-align: middle;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 280px;
  height: 160px;
  position: fixed;
  top: 60%;
  right: 4%;
  .PCbtn {
    width: 80%;
    background-color: #F69D4C; 
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    border: none;
    padding: 12px 20px;
    color: #FFFFFF;
    text-decoration: none;
  }
}

/* Responsive design */

@media screen and (max-width: 1024px) {
  .PCborder {
    display: none;
  }
}
@media (max-width: 1200px) {
  .left-sidebar, .right-sidebar {
    display: none;
  }
  .main-content {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .noPC {
    display: none;
  }
  .main-content {
    min-height: 100vh;
  }
}